<div class='main-container'>
  <h2>What to read next?</h2>
  
      <form action='/books/search' method="POST">
          <input type="text" name = 'search' placeholder="Search for your favorite book...">
          <label for='type'>Search for: </label>
          <input id='search-book' type='radio' name='type' value='BOOK'>Book
          <input id='search-author' type='radio' name='type' value='AUTHOR'>Author
          <input id='search-owner' type='radio' name='type' value='PUBLISHER'>Publisher
          <button class='submit'>Search</button>
    </form>
 
  <% if (user && user.role === 'PUBLISHER') { %>
    <p><a href='/books/create'>Add a new book</a></p>
  <%}%>
  <% booksData.forEach(function (book){%>
    <div class='container'>
      <h3><a href='/books/<%= book._id %>'><%= book.title %></a></h3>
      <h5><%= book.author %></h5>
    </div>
  <%})%>
  <% if (typeof message != 'undefined') { %>
    <div class='error-message'><%= message %></div>
  <% } %>
  <button onclick="goBack()">Go Back</button>
  <script>
  function goBack () {
    window.history.back();
  }</script>
</div>