<div class='main-container'>
  <h2>What to read next?</h2>

  <% booksData.forEach(function (book){%>
    <div class='container'>
      <h3><a href='/books/<%= book._id %>'><%= book.title %></a></h3>
      <h5><%= book.author %></h5>
    </div>
  <%})%>

  <% if (user && user.role === 'PUBLISHER') { %>
    <a href='/books/create'>Add a new book</a>
  <%}%>

  <a href='/'>Back</a>
</div>