<div class='main-container'>
    <div class='container'>
        <h2 class='title'> Title: <%= title %> </h2>
    </div>
    <div class='container'>
        <p class='author'> Author: <%= author %></p>
    </div>
    <div class='container'>
        <p class='description'> Description: <%= description %></p>
    </div>
    <% if (user && user === owner) { %>
    <p><a href='/books/<%= id %>/edit'>Edit</a></p>
    <%}%>
    <p><a href='/books'>Go to the complete list</a></p>
</div>
