<div class='main-container'>
  <h2>What to read next?</h2>
  
      <form action='/books/search' method="POST">
          <div class='field'>
            <input class= 'filter-books' type="text" name = 'search' placeholder="Your search...">
          </div>
          <div class='field'>
            <label for='type'>Filter by: </label>
            <input id='search-book' type='radio' name='type' value='BOOK'>Book
            <input id='search-author' type='radio' name='type' value='AUTHOR'>Author
            <input id='search-owner' type='radio' name='type' value='PUBLISHER'>Publisher
          </div>
          <button class='submit'>Search</button>
    </form>
 
  <% if (user && user.role === 'PUBLISHER') { %>
    <a class='add-book' href='/books/create'>Add a new book</a>
  <%}%>
  <% booksData.forEach(function (book){%>
    <div class='container'>
      <h3><a href='/books/<%= book._id %>'><%= book.title %></a></h3>
      <h4><%= book.author %></h4>
    </div>
  <%})%>
  <% if (typeof message != 'undefined') { %>
    <div class='error-message'><%= message %></div>
  <% } %>
  <button class='submit' onclick="goBack()">Go Back</button>  
</div>

<script>
  function goBack () {
    window.history.back();
  }
</script>
