<div class='main-container'>
  <h2>What to read next?</h2>
  <div class="topnav">
      <form action='/search' method="POST">
          <input type="text" name = 'title' placeholder="Search for your favorite book...">
          <button class='submit'>Search</button>
      </form>
  </div>
  <% if (user && user.role === 'PUBLISHER') { %>
    <p><a href='/books/create'>Add a new book</a></p>
  <%}%>
  <% booksData.forEach(function (book){%>
    <div class='container'>
      <h3><a href='/books/<%= book._id %>'><%= book.title %></a></h3>
      <h5><%= book.author %></h5>
    </div>
  <%})%>
  <% if (typeof message != 'undefined') { %>
    <div class='error-message'><%= message %></div>
  <% } %>
  <p><a href='/'>Back</a></p>
</div>