<div class='main-container'>
  <h2>What to read next?</h2>

  <% booksData.forEach(function (book){%>
    <div class='container'>
      <h3><a href='/books/<%= book._id %>'><%= book.title %></a></h3>
      <h5><%= book.author %></h5>
    </div>
  <%})%>

  <% if (user && user.role === 'PUBLISHER') { %>
    <p><a href='/books/create'>Add a new book</a></p>
  <%}%>

  <p><a href='/'>Back</a></p>
</div>