<div class="field">
    <h1 class="title"> Title: <%= title %> </h1>
</div>
<div class="field">
    <p class="author"> Author: <%= author %></p>
</div>
<div class="field">
    <p class="description"> Description: <%= description %></p>
</div>
<% if (user === owner) { %>
<a href='/books/<%= id %>/edit'>Edit</a>
<%}%>
</br>
<a href='/books'>Go back to the complete list</a>
