<div class='main-container'>
  <h2>Edit your book information</h2>

  <form method='post' action='/books/<%= id %>'>
    <div class='field'>
      <div class='col-25'>
        <label for='title'>Title: </label>
      </div>
      <div class='col-75'>
        <input type='text' name='title' id='booktitle' value='<%= title %>' />
      </div>
    </div>
    <div class='field'>
      <div class='col-25'>
        <label for='author'>Author: </label>
      </div>
      <div class='col-75'>
        <input type='text' name='author' id='author' value='<%= author %>'/>
      </div>
    </div>
    <div class='field'>
      <div class='col-25'>
        <label for='description'>Description: </label>
      </div>
      <div class='col-75'>
        <textarea name='description' id='description' placeholder='<%= description %>'></textarea>
      </div>
    </div>
    <div class='control'>
      <button class='submit'>Edit</button>
    </div>
  </form>

  <button class='submit' onclick="goBack()">Go Back</button>
</div>

<script>
  function goBack () {
    window.history.back();
  }
</script>