<div id='index-div'>
    <div class="topnav">
        <form action='/search' method="POST">
            <input type="text" name = 'title' placeholder="Search for your favorite book..">
            <input type='submit' value='Search'>
        </form>
</div>
    <h2>ALL YOUR BOOKS IN ONE SITE</h2>
    <a href='/books'>See all</a>
</div>
