<div id='index-div'>
    <div class="index-topnav">
        <form action='/search' method="POST">
            <input type="text" name = 'title' placeholder="Search your favorite book...">
            <button class='submit'>Search</button>
        </form>
    </div>
    <div class='index-main'>
        <h2>ALL YOUR BOOKS IN ONE SITE</h2>
        <a href='/books'>See all</a>
    </div>
</div>
