<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <div class='container' id='logo'>
      <a id='site-name' href='/'>Book World</a>
    </div>
    <div class='container' id='logs-container'>
      <% if (!user) {%> 
      <div id='login'>
        <p><a href='/auth/login'>Log In</a>
        </br>
        <a href="/auth/facebook">Login with Facebook</a></p>
      </div>
      <div id='signup'>
        <p>Don't have an account?
        </br>
        <a href='/auth/signup'>Sign up here</a></p>
      </div>
      <% } else { %>
      <div id='userprofile'>
        <a href='/user/<%= user.id %>'>My profile</a>
      </div> 
      <div id='logout'>
        <form action='/auth/logout' method='post'>
          <button type='submit' id='button-logout'>Log out</button>
        </form>
      </div>
      <% } %>
    </div>
  </header>
  <div id='main-container'>
    <%- body %>  
  </div> 
  <footer>
    <div id='copyright'>
      <p>©Copyright: Ironhack 2018</p>      
    </div>
    <div id='main-site'>
      <a href='/'>Main site</a>
    </div>
  </footer>
  </body>
</html>