<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <h3>LOGO</h3>
    <a href='/login'>Log In</a>
    <p>Don't have an account? <a href='/signup'>Sign up here</a></p>
    <a href="/authRoutes/facebook">Login With Facebook</a>
    <a href="/logout">Logout</a>
  </header> 
  <%- body %>  
  <footer>
    <p>©Copyright: Ironhack 2018</p>
  </footer>
  </body>
</html>