<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>This is a header</header> 
  <%- body %>  
  <footer>This is the footer</footer>
  </body>
</html>