<div class='main-container'>
    <h2>My profile</h2>
    <div class='container'>
        <h3> Welcome <%= name %></h3>
    </div>

    <button class='submit' onclick="goBack()">Go Back</button>
</div>

<script>
  function goBack () {
    window.history.back();
  }
</script>