<div class='main-container'>
    <h2>My profile</h2>
    <div class='container'>
        <h3> Welcome <%= name %></h3>
    </div>
    
    <img src='<%= user.picPath %>' alt=''>
    

    <form action="/user/upload/:id" method="post" enctype="multipart/form-data">
        <input type="file"  name="photo">
        <input type="submit" value="Save">
      </form>
    <% if (user.role === 'PUBLISHER') {%>
        <p>Books added: </p>
    <%} else {%>
        <p>My favorite books: </p>
    <%}%>
    <div class='container'>
        <% myBooks.forEach(function (book) { %>
          <div class='container'>
              <p id='reviews'><%= book.title %></p>
              <p id='reviews'><%= book.author %></p>
          </div>
      <% }) %>
    </div>
    <% if (user.role === 'PUBLISHER') {%>
        <p><a class='add-book' href='/books/create'>Add a new book</a></p>
    <%}%>
    <button class='submit' onclick="goBack()">Go Back</button>
</div>

<script>
  function goBack () {
    window.history.back();
  }
</script>