body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.main-container {
  margin: 80px 50px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

button {
  border-color: black;
  background-color: transparent;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(194,27,59);
}

/* HEADER FOOTER */

#logo {
  padding-left: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
}

#site-name {
  font-size: 28px;
  font-weight: 800;
}

#button-logout {
  background: transparent;
  color: white;
  border-color: white;
  border-radius: 5px;
  border-width: 1px;
  font-size: 14px;
}

header a, p {
  font-size: 12px;
}

header #logs-container {
  display: flex;
  justify-content: space-between;
}

header #logs-container div {
  padding-left: 10px;
  padding-right: 10px;
}

header, footer {
  color: white;
  background-color: rgb(115,123,145);
}

header a, footer a {
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#main-site {
  padding-right: 20px;
}

#copyright {
  padding-left: 20px;
}

/* INDEX PAGE */

#index-div {
  background-image: url('../images/books.jpg');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 150px;
  height: 600px;
}

.topnav input{
  width: 200px; 
  margin-right: 20px;
}

#index-div a {
  color: white;
  font-size: 20px;
}

#index-div h2 {
  font-size: 38px;
}

.field {
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
}

.index-topnav input[type=text] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 200px;
  height: 20px;
  margin-right: 20px;
}

.index-topnav ::placeholder {
  color: white;
}

.index-topnav button {
  border: 1px solid white;
  color: white;
}

/* INPUTS */

input[type=text], input[type=password], textarea {
  border: 1px solid black;
  border-radius: 1px;
  font-size: 14px;
}

input[type=file] {
  border: 1px solid black;
  border-radius: 1px;
  font-size: 12px;
  color: grey;
  width: 300px;
}

.filter-books {
  width: 270px;
}

textarea {
  width: 200px;
  height: 150px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
  }
}

#book-description {
  display: flex;
  flex-grow: initial;
  max-width: 700px;
  text-align: justify;
  line-height: 25px;
  font-size: 16px;
  padding: 5px;
}

.reviews {
  display: flex;
  flex-grow: initial;
  max-width: 700px;
  text-align: justify;
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
}

.reviewers {
  font-size: 13px;
  padding: 5px 10px;
}

.review-container {
  background-image: url('../images/quotation-marks.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100px;
  border: 1px solid rgb(115,123,145);
  border-radius: 10px;
  min-width: 270px;
  max-width: 450px;
  min-height: 80px;
  margin-bottom: 15px;
  background-color: rgb(187,189,189);
  color: white;
}

#add-review {
  font-size: 16px;
}

#review-area {
  min-width: 270px;
  margin-bottom: 20px;
}

@media (min-width: 550px) {
  #review-area {
    min-width: 450px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.goback {
  font-size: 16px;
}

.submit {
  font-size: 15px;
  margin-bottom: 20px;
}

#logged-user {
  font-size: 14px;
}

#userprofile {
  margin-top: 3px;
}

#book-cover {
  width: 250px;
  height: 350px;
}

.add-book, .edit-book {
  font-size: 16px;
}

.edit-container {
  margin-bottom: 15px;
}

.bookinfo-container {
  display: flex;
  flex-wrap: wrap;
}

.book-image {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}